Client/Client/Client/bin/Debug/net7.0/Client.dll
Client/Client/Client/bin/Debug/net7.0/Client.pdb
Client/Client/Client/obj/Debug/net7.0/Client.dll
Client/Client/Client/obj/Debug/net7.0/Client.pdb


bin/
