Client/Client/Client/bin/Debug/net7.0/Client.dll
Client/Client/Client/bin/Debug/net7.0/Client.pdb
Client/Client/Client/obj/Debug/net7.0/Client.dll
Client/Client/Client/obj/Debug/net7.0/Client.pdb


bin/
Client/Client/Client/obj/Debug/net7.0/Client.dll
Client/Client/Client/obj/Debug/net7.0/Client.pdb
ServerNode/ServerNode/ServerNode/obj/Debug/net7.0/ServerNode.dll
ServerNode/ServerNode/ServerNode/obj/Debug/net7.0/ServerNode.pdb
